<style>
  #b{
    height: 100%;
    background-color: lightgrey;
    text-align: center;
  }
</style>
<div id="b">
<h1>Hello World</h1>
<b>Name:-</b> Bhaskar Acharya<br>
<br><br>
<b>Registration no.:-</b> 201800547<br>
<br><br>
<b>Roll No:-</b> 47<br>
<br><br>
<b>Section:-</b> B<br>
<br><br>
<b>Email:-</b> bhaskar_acharya1999@rediffmail.com<br>
<br><br>
<b>BIO</b> <br> 
<p>Presently a third Year student in Sikkim Manipal Institute of Technology pursuing B.Tech in Computer Science and Engineering(CSE) looking for some cool and interesting Internships.</p>
<br><br>

</div>